# Ignore node_modules except for production (if built outside Docker)
node_modules
# You can also exclude node_modules here, unless you are building inside the container
# If you prefer installing modules inside Docker, keep this line:
# !node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude environment variables files
.env
.env.local
.env.test
.env.production

# Exclude build files, if you're using TypeScript or any pre-compiled files
dist/
build/
coverage/
# Exclude the TypeScript source files if you are only building the final version in the container
*.ts

# Exclude Git source control files
.git
.gitignore

# Exclude Docker files not necessary for the container
Dockerfile
.dockerignore

# Exclude test files and configurations
tests/
__tests__/
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# exclude secrets

*.key

# misc

eslint.config.mjs